/*side bar*/
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 160px;
    top: 0;
    right: 0;
    padding-top: 40px;
    border: 1px solid rgb(221, 209, 209);
}

.links {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.link {
    float: right;
    color: black;
    font-size: 20px;
    height: 50px;
    padding-top: 5%;
    padding: 20px;
    text-align: right;
    text-decoration: none;
}

.link:hover {
    background-color: rgb(207, 248, 248);
}

.divider {
    border-bottom: 1px solid rgb(221, 209, 209);
    margin-bottom: 20px;
    margin-top: 20px;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.logo {
    padding-left: 10px;
}

/* footer style */
.footericons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    margin-top: 10px;
}

#icon {
    color: white;
    font-size: 20px;
}

.ftxt {
    font-size: 20px;
    width: auto;
    text-decoration: none;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: normal;
}

.footertext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Assistant', sans-serif;
    padding-top: 5px;
    color: white;

}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #34495E;
    font-weight: normal;
    position: fixed;
    height: 80px;
    bottom: 0;
}

#termslink {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: auto
}

#items {
    display: none;
}

/* main page style */
.main_content {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    height: 100%;
    width: 90%;
    overflow: scroll;
}

.top_img {
    background-color: white;
    height: 100px;
    overflow: hidden;
    position: relative;
}

#topimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#top_header {
    font-family: 'Assistant', sans-serif;
    text-align: right;
    font-size: 30px;
}

#notebooks-description {
    font-size: 1.2em;
    color: #333;
    text-align: right;
}

.page_grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 500px;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.grid-item {
    background-color: white;
    border-top: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Assistant', sans-serif;
}

.grid-item-image {
    height: 150px;
    width: 100px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3; /* On top of sidebar */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Sheer black background */
    backdrop-filter: blur(5px); /* Optional: Blurs the page behind modal */
    overflow-y: auto; /* Allow scrolling if content is too tall */
}

/* Modal Content Wrapper */
.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
}


/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 60vh; /* Limit the image size */
    object-fit: contain;
    display: block;
    margin-bottom: 20px;
    background-color: white; /* Ensure content background is white */
    padding: 10px;
    border-radius: 5px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    .sidebar {
        position: fixed;
        flex-direction: row;
        height: 80px;
        width: 100%;
        padding-top: 0;
        background-color: white;
        justify-content: space-between;
    }

    .links {
        display: none;
    }

    #items {
        display: block;
        width: 180px;
        height: 60px;
        text-align: center;
        margin-top: 10px;
        border: none;
    }

    .main_content {
        padding-top: 20%;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    .page_grid {
        grid-template-columns: 100%;
    }

    .modal-content {
        width: 100%;
    }
}